body{
	background-image: url(../../../img/home/bg3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
input,textarea,select{
	background-color: transparent;
}
.warning{
	color: red;
	margin-left: 20px;
	font-weight: 600;
}





.topic{
	margin-top: 100px;
	text-align: center;
	font-size: 50px;
	letter-spacing: 20px;
	font-weight: 600;
	text-shadow: 5px 5px #98cac9;
	color: #6a6b6e;
}



.content{
	width: 1000px;
	border: 1px ridge black;
	margin: 50px auto;
	padding: 10px;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.8);
}
.sub-content{
	width: 800;
	border: 1px dotted black;
	padding-top: 90px;
	padding-left: 130px;
	border-radius: 5px;
}




.topLeft{
	display: inline-block;
	width: 350px;
	margin-right: 100px;
	font-weight: 600;
	
}
.topLeft input,select{
	margin-bottom: 15px;
}
.Eletter{
	margin-right: 40px;
	margin-left: 35px;
}
.two-letter{
	margin-right: 40px;
	margin-left: 30px;

}
.four-letter{
	margin-right: 38px;
}
#male{
	margin-right: 10px;
}
.topRight{
	display: inline-block;
	width: 350px;
}

.image{
	width: 250px;
	height: 300px;
	overflow: hidden;
	border: 1px dotted black;
}
.errow{
	display: none;
	margin-bottom: 20px;
	color: red;
	margin-left: 105px;
}
.imp{
	display: none;
	margin-bottom: 20px;
	color: red;
	margin-left: 105px;
}

.mid{
	margin-top: 60px;
}
.mid p{
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: -100px;
}
.mid textarea{
	width: 750px;
	height: 200px;
	overflow: scroll;
}


#submit{
	width: 200px;
	height: 40px;
	border: none;
	border-radius: 10px;
	background-color: skyblue;
	color: white;
	font-weight: 500;
	margin-top: 50px;
	margin-left: 280px;
	margin-bottom: 100px;
}