.btn-group{
	margin-bottom: 10px;
}

.adminsort{
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.4);
	color: gray;
	border-radius: 5px;
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	margin-left: 10px;
	margin-top: 5px;
	text-decoration: none;
}

.admin-current{
	border-width: 2px;
	border-color: olivedrab;
	font-weight: 500;
}

.mask {     
            position: absolute; top: 0px; filter: alpha(opacity=60); background-color: #777;   
            z-index: 1002; left: 0px;   
            opacity:0.5; -moz-opacity:0.5;   
        }
        
#myModal .addp{
	margin-left: 120px;
}

#myModal .addp tr{
    height: 40px;
}

#myModal .addp tr .ad{
    width: 80px;
}

#myModal .subit{
	margin-left: 100px;
}

.modal-content{
	width: 500px;
}

#myModal2 .mofy{
	margin-left: 100px;
}

#myModal2 .mofy tr{
    height: 40px;
}

#myModal2 .mofy tr td{
    width: 100px;
}

#myModal2 .subit{
	margin-left: 120px;
}
