 @font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?3ghfiu');
  src:  url('../../fonts/icomoon.eot?3ghfiu#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf?3ghfiu') format('truetype'),
        url('../../fonts/icomoon.woff?3ghfiu') format('woff'),
        url('../../fonts/icomoon.svg?3ghfiu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 10px;
  color: #f87221;
  font-size: 20px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  background: url(../../img/mumber/people-background7.jpg);
  background-size: 100% 100%;
  background-attachment:fixed;
}
.page{
  /*padding-top: 100px;*/
  width: 100%;
}
.page h1{
  color: white;
  margin-top: 50px;
  text-align: center;
  font-size: 33px;
  font-weight: 500;
  text-shadow: 3px 3px 16px #004a53;
}
.people{
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 70%;
  border:1px solid #004a53;
  box-shadow: 0px 0px 16px #004a53;
  background-color: white;
}
.circle{
  height: 150px;
  width: 150px;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 30px;
}
.content{
  vertical-align: top;
  margin-top: 20px;
  margin-left: 60px;
  display: inline-block;
}
.content p span{
  display: inline-block;
  width: 200px;
  font-size: 18px;
  color: #2b2c2c;
  margin-top: 20px;
}
.content .mumberIntroduce{
  padding-right: 30px;
  font-size: 18px;
  color: #2b2c2c;
  margin-top: 20px;
}
.subNav{
  width: 100%;
  height: 50px;
  background-color: #004a53;
}
.sublist{
  display: inline-block;
}
.sublist-text{
  display:inline-block;
  border-right: 1px solid white;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 550;
  color:white;
  height: 50px;
  width: 200px;
}
.sublist-text:hover{
  text-decoration: none;
}
.sublevel1{
  position: relative;
  display: none;
  list-style: none;
  background-color:#004a53;
  top: -2px;
  left: -5px;
  width: 205px;
  z-index: 1;
}
.sublevel1 li{
  color: white;
  line-height: 50px;
  text-align: center;
  width: 205px;
  height: 50px;
}
.sublevel1 li a{
  font-size: 17px;
  color: white;
}
.sublevel1 li a:hover{
  text-decoration: none;
  font-size: 18px;
  color: #f87221;
}
.fixedsubnav{
  position: fixed;
  top: 0px;
}
.handler{
  margin-top: 100px;
  width: 100%;
}
.handler h2,.normal h2{
  margin-top: 100px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 3px 3px 16px #004a53;
}
.normal{
  width: 100%;
  border-top: 3px solid #004a53;
}