

.nav-item .current {
	color: orange;
}


/*主体样式  每节高600px 宽100%*/


/*html,body,.wrap,.main,.section{
	height: 100%;
}*/
body{
	background-image: url(../../img/index/section1_bg.jpg);
	background-attachment: fixed;
}

.section {
	height: 600px;
	padding-top: 60px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	background-color: white;
}

.sec-head {
	width: 1100px;
	margin: 0 auto;
}

.sec-head h1 {
	width: 100%;
	text-align: center;
	border-bottom: 3px solid #d5d5d5;
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 15px;
	margin-bottom: 4px;
}


/*轮播图  高100% 宽1250px*/

.banner {
	height: 100%;
	width: 1250px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.banner-list {
	width: 500%;
	height: 100%;
	position: absolute;
}

.banner-list div {
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
	text-align: center;
	padding-top: 250px;
}

.banner-list .img01{
	background-image: url(../../img/index/banner01.jpg);
	background-size: 100% 100%;
}

.banner-list .img02{
	background-image: url(../../img/index/banner02.jpg);
	background-size: 100% 100%;
}

.banner-list .img03{
	background-image: url(../../img/index/banner03.jpg);
	background-size: 100% 100%;
}

.banner-list p{
	font-size: 40px;
	font-weight: 300;
	font-family: charcoal;
	color: white;
}

.banner-list .txt2{
	font-size: 25px;
	letter-spacing: 10px;
}

.banner .dots {
	font-size: 0;
	width: 100px;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 15px;
	margin: auto;
}

.banner .dots span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: darkgray;
	border: 1px solid floralwhite;
	margin: 6px;
	cursor: pointer;
}

.banner .dots .on {
	background-color: goldenrod;
}

.banner .arrow {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	text-align: center;
	line-height: 40px;
	color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	display: none;
	cursor: pointer;
	font-weight: bold;
}

.banner #prev {
	left: 0;
}

.banner #next {
	right: 0;
}

.banner:hover .arrow {
	display: block;
}

#section1 {
	border-bottom: 10px solid rgba(74,146,160,0.8);
	/*background-color: rgba(74,146,160,1);*/
	background-color: rgba(0,0,0,0.6);
}

#section2 {
	position: relative;
	background: rgba(255,255,255,0.1);
	padding-top: 0;
}

.menu {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -78px;
	width: 156px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 2px;
	background: rgba(74,146,160,0.8);
}

.menu:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}


/*工作室简介*/
.sec2-top{
	height: 150px;
	background: white;
	padding-top: 60px;
}

.sec2-more{
	width: 1000px;
	margin: 40px auto;
	padding-left: 100px;
}

.sec2-more a{
	display: inline-block;
	width: 28%;
	height: 32px;
	line-height: 32px;
	background: url(../../img/index/sec2_icon.jpg) no-repeat;
	padding-left: 50px;
	font-size: 18px;
	color: rgba(0,0,0,0.6);
}

.sec2-more a:hover{
	color: orange;
}

.sec2-bottom{
	height: 400px;
	background: rgba(255,255,255,0,1);
}

#section2 .sec-content{
	width: 1100px;
	height: 200px;
	margin: 50px auto;
	background: rgba(0,0,0,0.4);
	color: white;
	padding: 50px;
}

#section2 .sec-content h2{
	font-size: 25px;
	font-weight: 400;
	letter-spacing: 10px;
	margin-bottom: 30px;
}

#section2 .sec-content p{
	letter-spacing: 3px;
	margin-bottom: 10px;
}

#section3{
	/*background: rgb(240,233,233);*/
}

#section3 .sec-content{
	width: 1100px;
	margin: 0 auto;
}

.work-item{
	background: #FFF;
    padding: 30px 20px 20px;
    margin-left: 80px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    -webkit-transition: background .5s ease-in-out;
    -moz-transition: background .5s ease-in-out;
    transition: background .5s ease-in-out;
    width: 200px;
    height: 180px;
	border: 2px solid #e3e3e3;
	display: inline-block;
	text-align: center;
	color: #000;
}

.work-item:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 30px 30px 0;
	border-style: solid;
	border-color: #ffffff #F5F5F5 #4a92a0 #028fcc;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
	display: block;
	width: 0;
}

.work-item:hover{
	background: rgb(74, 146, 160);
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
	color: #FFF;
}

.work-item:hover:before {
	border-color: #F5F5F5 #F5F5F5 rgba(138, 186, 195, 0.56)  #fff;
	-webkit-transition: border-color .2s ease-in-out;
	-moz-transition: border-color .2s ease-in-out;
	transition: border-color .2s ease-in-out;
}

.work-item h4{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #000000;
	color: #FFF;
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}

.work-item h6{
	font-size: 20px;
	font-weight: 100;
	margin: 15px;
	font-family: verdana;
}

.work-item p{
	color: darkgrey;
}

.work-item:hover h4{
	background: #FFF;
	color: rgb(74, 146, 160);
}

.work-item:hover p{
	color: #FFF;
}

#section5 .sec-content{
	height: 560px;
	width: 100%;
	margin: 0 auto;
	background-image: url(../../img/index/sec5_bg.jpg);
	background-size: 100% 100%;
}

#section5 .joinus{
	
	width: 1100px;
	margin: 0 auto;
	color: #FFF;
	text-align: center;
}

.joinus h2{
	font-size: 40px;
	padding-top: 150px;
	font-weight: 400;
}

.joinus span{
	display: block;
	border-bottom: 2px solid #FFF;
	width: 100px;
	height: 10px;
	margin: 10px auto;
}

.joinus h4{
	font-size: 18px;
	letter-spacing: 3px;
	font-weight: 300;
}

.joinus img{
	width: 100px;
	height: 100px;
	margin: 20px;
}

.joinus p{
	letter-spacing: 5px;
}

.joinus a{
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	margin: 20px auto;
	color: white;
	background: rgba(74,146,160,0.8);
	letter-spacing: 3px;
	border-radius: 5px;
	font-weight:600;
	font-size: 15px;
}

.joinus a:hover{
	background: #FFF;
	color: rgba(74,146,160,0.8);
}
