.show{
  margin: 0 auto;
  width: 70%;
  height: 306px;
  box-shadow: 0px 0px 20px white;
  z-index: 1;
}
.show ul{
  position: relative;
  overflow: hidden;
  width: 97%;
  height: 306px;
  margin: 60px auto 0;
}
.show ul li img{display: block;}
.show ul li{
  position: relative;
  float: left;
  overflow: hidden;
  width: 9%;
  height: 100%;
}
.show ul li img{
  display: block;
  width: 100%;
  height: 100%;
}
.show ul li{list-style: none;}
.tip{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background:rgba(27,29,36,0.6);
  width: 100%;
  height: 100%;
}
.tip .front{
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: white;
  font-size: 15px;
}
.tip .after{
  position: absolute;
  bottom: 5px;
  right: -200%;
}
.tip .after span{
  color: #fd7511;
  display: block;
  font-size: 20px;
}
#big{font-size: 18px;}