.fix-nav {
	display: none;
	width: 140px;
	height: 310px;
	z-index: 5;
	position: fixed;
	right: 0;
	bottom: 150px;
}

.side {
	position: fixed;
	right: 0;
	bottom: 150px;
}

.close {
	position: fixed;
	width: 32px;
	height: 32px;
	right: 139px;
	bottom: 428px;
}

.open {
	position: fixed;
	width: 32px;
	height: 32px;
	right: 0px;
	bottom: 428px;
	display: none;
}
