.aboutus {
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	padding: 15px;
	text-align: center;
}

.aboutus-bigbox {
	position: relative;
	width: 1112px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
}

#box {
	position: absolute;
	width: 1390px;
	height: 350px;
	left: -278px;
}

.aboutus h1 {
	font-size: 30px;
	margin-bottom: 15px;
}

#person {
	float: left;
	height: 350px;
	width: 278px;
	background: aliceblue;
}

.footer {
	height: 500px;
	list-style: none;
}

.foot-bg {
	width: 100%;
	height: 50%;
	z-index: -1;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	position: absolute;
	left: 0;
}

.footer {
	height: 200px;
	color: #FFFFFF;
	text-align: center;
}

.footer a {
	color: #FFFFFF;
}

.footer a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.foot-left {
	width: 49%;
	font-size: 18px;
	padding-bottom: 60px;
	display: inline-block;
}

.title {
	margin-bottom: 10px;
	border-bottom: 1px solid #1ABB9A;
	text-align: left;
	margin-right: 65px;
}

.foot-left li {
	margin-bottom: 10px;
	font-size: 14px;
	text-align: left;
}

.about {
	height: 100%;
	width: 35%;
	display: inline-block;
	margin-top: 50px;
}

.connect {
	height: 100%;
	width: 40%;
	display: inline-block;
	margin-top: 50px;
}

.foot-right {
	width: 49%;
	font-size: 18px;
	padding-bottom: 60px;
	display: inline-block;
}

.saoma {
	width: 100px;
	height: 100px;
	margin-left: 60px;
	position: relative;
	left: -125px;
}

.tubiao {
	width: 100px;
	height: 100px;
	margin-left: 60px;
	position: relative;
	left: -80px;
}

.copyright {
	position: relative;
	margin-bottom: 10px;
}
