<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.ImageMapper">

    <!--增加图片-->
    <insert id="addImage">
        INSERT INTO `t_images`
        (`id`, `img_name`, `upload_img_time`, `select`)
        VALUES (#{image.id}, #{image.imgName},
        #{image.uploadImgTime}, #{image.select})
    </insert>

    <!--根据id删除图片-->
    <delete id="delImageById">
        DELETE FROM `t_images`
        WHERE `id` = #{id}
    </delete>

    <!--修改图片-->
    <update id="updateImage">
        UPDATE `t_images`
        SET `select` = #{image.select}
        WHERE `id` = #{image.id}
    </update>

    <!--根据id查找图片-->
    <select id="queryImageById" resultMap="pw.Image" >
        SELECT *
        FROM `t_images`
        WHERE `id` = #{id}
    </select>

    <!--查询所有图片列表-->
    <select id="listImageAll" resultMap="pw.Image">
        SELECT *
        FROM `t_images`
    </select>

</mapper>