<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.MemberMapper">
    <!--增加成员-->
<insert id="addMember">
  INSERT INTO `t_member`
        (`id`, `member_photo`, `member_name`, `sex`,`grade`,`major`,`department`,
        `position`,`introduce`,`visible`)
        VALUES (#{member.id}, #{member.memberPhoto},
        #{member.memberName}, #{member.sex},#{member.grade},
        #{member.major},#{member.department},#{member.position},
        #{member.introduce},#{member.visible})
</insert>
<!--删除成员-->
    <delete id="delMember">
        DELETE FROM `t_member`
        WHERE `id` = #{id}
    </delete>

    <!--更新成员-->
    <update id="updateMember" >
        UPDATE `t_member`
        SET
        `member_photo` = #{member.memberPhoto},
        `member_name` = #{member.memberName},
        `sex` = #{member.sex},
        `grade` = #{member.grade},
        `major` = #{member.major},
        `department` = #{member.department},
        `position` = #{member.position},
        `introduce` =  #{member.introduce},
        `visible` = #{member.visible}
         WHERE `id` = #{member.id}
    </update>

    <!--遍历全部成员-->
    <select id="listAll" resultMap="pw.Member">
        SELECT *
        FROM `t_member`
    </select>

    <!--根据id查找用户-->
    <select id="queryMemberById" resultMap="pw.Member" >
     SELECT *
     FROM `t_member`
     WHERE `id` = #{id}
    </select>

    <!--&lt;!&ndash;根据部门查找用户  1代表研究生团队，2代表前端，3代表后端，4代表产品-->
    <select id="queryMemberByDepartment" resultMap="pw.Member">
        SELECT *
        FROM `t_member`
        WHERE `department`= #{department}
    </select>


    <!--根据用户级别查找用户-->
    <select id="queryMemberByPosition" resultMap="pw.Member">
        SELECT *
        FROM `t_member`
        WHERE `position`= #{position}
    </select>

    <!--根据用户nianji查找用户-->
    <select id="queryMemberByGrade" resultMap="pw.Member">
        SELECT *
        FROM `t_member`
        WHERE `grade`= #{grade}
    </select>
</mapper>