<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pandawork.mapper.PageMapper">

    <select id="queryByPage" resultMap="pw.Joiner">
        SELECT *
        FROM `t_joiner` limit #{a},#{b}
    </select>
    <select id="getTotalRows" resultType="int">
        SELECT COUNT(*)
        FROM `t_joiner`
    </select>

</mapper>